$color-800: #08171c;
$color-700: #0c2027;
$color-600: #1a3139;
$color-500: #3d737f;
$color-400: #548e99;
$color-300: #afdce9;
$color-200: #d0c7c0;
$color-100: #e8e0da;

.card.max--600 {
    max-width: 600px;
    margin: 0 auto;
}

.grid--new--course form, .grid--new--event form {
    display: grid;
    grid-template-columns: repeat(2, 285px);
    gap: 30px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
    }
}

.grid--new--course input, .grid--new--event input {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 35px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    background-color: $color-200;
    color: $color-800;
    font-weight: 600;

    &:focus {
        outline: none;
        width: 100%;
    }

    &::placeholder {
        color: $color-800;
        opacity: 0.25;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    &[type="date"], &[type="time"] {
        text-indent: 0;
        padding: 0 18px 0 35px;
        cursor: pointer;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}

.form__label {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    p {
        font-size: 18px;
        font-weight: 700;
        color: $color-800;
    }

    i {
        position: absolute;
        right: 0;
        display: none;
    }

    &[data-error="true"] {
        i {
            display: flex;
            cursor: help;
        }
    }
}

.period__switch {
    position: absolute;
    right: 0px;
    bottom: 0;

    i {
        padding: 18px;
        cursor: pointer;
        opacity: 0.25;
        transition: .3s ease;
    }

    i:hover {
        opacity: 1;
    }

    i[data-state="active"] {
        opacity: 1;
    }

    i:first-of-type {
        padding-right: 4px;
    }

    i:last-of-type {
        padding-left: 4px;
    }
}

.form__status__wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.form__status__button {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    background-color: $color-200;
    transition: .3s ease;

    p {
        transition: .3s ease;
        opacity: 0.25;
        color: $color-800;
    }

    &[data-state="active"] {
        background-color: $color-400;

        p {
            color: $color-100;
            opacity: 1;
        }
    }

    &:hover {
        background-color: $color-400;

        p {
            color: $color-100;
            opacity: 1;
        }
    }
}
